* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #cfeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 800px;
}

.logo {
  text-align: center;
  letter-spacing: 8px;
  margin-bottom: 30px;
  color: #3a5f5f;
}

.calculator {
  background: rgb(243, 241, 241);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
}

.inputs {
  flex: 1;
}

.inputs label {
  display: block;
  margin-top: 20px;
  color: #5e7c7c;
}

.inputs input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #909090;
}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.tip-buttons button {
  padding: 10px;
  background: #00494d;
  color: rgb(248, 246, 246);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tip-buttons input {
  text-align: center;
}

.results {
  flex: 1;
  background: #00494d;
  border-radius: 15px;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-row h2 {
  color: #1fb7a2;
  font-size: 32px;
}

.reset {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #26c2ae;
  cursor: pointer;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 12px;
  float: right;
}

.error-input {
  border: 2px solid red;
}
